@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  display: grid;
  min-width: 100%;
  min-height: 100%;
}

body {
  display: grid;
  gap: 6px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  grid-template-areas:
    "sideBar navBar navBar"
    "sideBar mainSide mainSide";
  grid-template-rows: 125px auto;
  grid-template-columns: 220px auto;
}

#navbar {
  grid-area: navBar;
  background-color: #8fc93a;
  width: 100%;
  padding: 1em;
}
#navbar #navFirstSection {
  display: flex;
}
#navbar #navFirstSection input {
  margin-right: auto;
}

#navbar #navSecondSection {
  display: flex;
  align-items: center;
}
#navbar #navSecondSection .introSection {
  display: flex;
  align-items: center;
  margin-right: auto;
}
#navbar #navSecondSection .introSection img {
  padding-right: 12px;
}
#navbar #navSecondSection .buttonsSection button {
  background-color: #1e91d6;
  border: none;
  border-radius: 12px;
  padding: 6px 12px;
  color: aliceblue;
  font-weight: 600;
}
#sidebar {
  grid-area: sideBar;
  background-color: #1e91d6;
}
#billboard {
  grid-area: mainSide;
  background-color: #e4cc37;
}
